@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Light.svg#Exo2Light) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Light.ttf) format("truetype");font-style:normal;font-weight:300;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.svg#Exo2Regular) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.ttf) format("truetype");font-style:normal;font-weight:400;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Bold.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Bold.eot) format("embedded-opentype"),url(../../../fonts/exo2-fontfacekit/Exo2Bold.svg#Exo2Bold) format("svg"),url(../../../fonts/exo2-fontfacekit/Exo2Bold.woff2) format("woff2"),url(../../../fonts/exo2-fontfacekit/Exo2Bold.woff) format("woff"),url(../../../fonts/exo2-fontfacekit/Exo2Bold.ttf) format("truetype");font-style:normal;font-weight:700;}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*!
 * custom
 */
html {
	font-size: 100%;
}
html,
body {
	height: 100%;
}
body {
	font-family: "Exo2","Segoe UI",sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.500;
	width: 100%;
	color: #363636;
	background: #3D4045;
	/* scroll-behavior: smooth; */
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	/* user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none; */
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
a:hover,
a:active,
a:focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
b,
strong,
.bolder {
	font-weight: bold;
}
i,
em,
.italic {
	font-style: italic;
}
u,
.underline {
	text-decoration: underline;
}
*,*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class^="fa-"],[class*=" fa-"] {
	font-style: normal;
	font-family: "FontAwesome" !important;
	-webkit-font-smoothing: antialiased;
}
::selection {
	color: #FFFFFF;
	background: #56A9FF;
}
::-moz-selection {
	color: #FFFFFF;
	background: #56A9FF;
}
/* * {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
} */
/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */
.cf:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .cf { zoom: 1; } /* IE6 */
*:first-child+html .cf { zoom: 1; } /* IE7 */
/*!
 * fix fontawesome
 */
i.fa {
	font-style: normal;
}
table.respond {
	width: auto;
}
/*!
 * fix for tranquil-heart.css google-prettify theme
 */
ol.linenums {
	margin: 0 0 0 3.000em !important;
}
/*!
 * fit width
 */
.fit-width {
	min-width: 100%;
}
/*!
 * hide on mobile
 */
@media handheld,only screen and (max-width:767px) {
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
/*!
 * github.com/lukehaas/css-loaders
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */
.data-loading .data-loading {
	font-size: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5em 0 0 -5em;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(211,211,211,0.5);
	border-right: 1.1em solid rgba(211,211,211,0.5);
	border-bottom: 1.1em solid rgba(211,211,211,0.5);
	border-left: 1.1em solid rgba(25,25,25,0.5);
	z-index: 999999;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.data-loading .data-loading,
.data-loading .data-loading:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*!
 * layout
 */
.page {
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
	margin: 0 auto;
	/* overflow-y: hidden; */
}
/*!
 * fix the bug in webkit for stycky footer
 */
.container {
	height: 100%;
	overflow: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	margin-bottom: -9px;
}
#page {
	height: 100%;
}
.background,
#page {
	background-color: transparent;
	background-image: url(/libs/notfound/img/bg-417x417.png);
	background-position: top left;
	background-repeat: repeat;
	background-size: 312.750pt 312.750pt;
}
.stripe-top {
	height: 4.500pt;
	background-color: transparent;
	background-image: url(/libs/notfound/img/stripe-top-480x60.png);
	background-position: top left;
	background-repeat: repeat-x;
	background-size: 360.000pt 45.000pt;
}
.background {
	display: inline-block;
	width: 2502px;
	/* height: 1668px; */
	height: 100%;
	margin-top: -60px;
	margin-left: 0;
}
.footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
	text-align: center;
	color: #FFFFFF;
	background: none #3A3A3C;
	margin: 0 auto;
}
.footer p {
	position: relative;
	top: 18px;
	color: inherit;
}
.footer a {
	color: inherit;
	text-decoration: none;
}
/*!
 * desktop parallax content
 */
.parallax {
	height: 100%;
}
.parallax .scene1 {
	/*!
	 * the height visible block
	 * of the logo and subhead and button
	 * and vk like button is 577px
	 * the height of stripe-top is 9px
	 * the height of fixed footer is 50px
	 * so 577px / 2 + 50px - 9px = -329px
	 * but it is -318 because of some paddings
	 * or margins like vk like button
	 */
	position: relative;
	top: 50%;
	margin-top: -265px;
	/*!
	 * fixes for version parallax 2.1.3
	 */
	display: inline-block;
	width: 720px;
}
.parallax .subhead {
	display: block;
	max-width: 720px;
	font-weight: 300;
	font-size: 34px;
	line-height: 51px;
	text-align: center;
	color: #FFFFFF;
	background: #212328;
	background-image: -ms-linear-gradient(top left, #2B2D32 0%, #212328 100%);
	background-image: -moz-linear-gradient(top left, #2B2D32 0%, #212328 100%);
	background-image: -o-linear-gradient(top left, #2B2D32 0%, #212328 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #2B2D32), color-stop(1, #212328));
	background-image: -webkit-linear-gradient(top left, #2B2D32 0%, #212328 100%);
	background-image: linear-gradient(to bottom right, #2B2D32 0%, #212328 100%);
	opacity: 0.7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 51px auto 0 auto;
	padding: 21px 28px;
}
.parallax .getstarted {
	display: block;
	max-width: 720px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	margin: 72px auto 0 auto;
	padding: 0;
}
.parallax .btn-2c {
	display: inline-block;
	position: relative;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: 0.063em;
	text-transform: uppercase;
	color: inherit;
	background: #7BA389;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 6px #5D8561;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding: 21px 28px;
	margin: 0;
	outline: none;
	cursor: pointer;
}
.parallax .btn-2c:hover {
	box-shadow: 0 4px #5D8561;
	top: 2px;
}
.parallax .btn-2c:active {
	box-shadow: 0 0 #5D8561;
	top: 6px;
}
.parallax .btn-2c:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.parallax .btn-2c:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.parallax .sitelogo-holder {
	width: 100%;
	margin: 0 auto;
}
.parallax .sitelogo {
	display: inline-block;
	width: 72px;
	height: 72px;
}
.parallax .sitetitle-holder {
	width: 100%;
	margin: 24px auto 0 auto;
}
.parallax .sitetitle {
	display: inline-block;
	width: 270px;
	height: 40px;
}
.parallax .smartphone {
	display: inline-block;
	width: 351.750pt;
	height: 468.750pt;
	margin-top: 100px;
	margin-left: -800px;
	background-color: transparent;
	background-image: url(/libs/notfound/img/smartphone-469x625.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 351.750pt 468.750pt;
}
.parallax .smartphone2 {
	display: inline-block;
	width: 484.500pt;
	height: 372.000pt;
	margin-top: 100px;
	margin-left: 450px;
	background-color: transparent;
	background-image: url(/libs/notfound/img/smartphone2-646x496.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 484.500pt 372.000pt;
}
/*!
 * mobile parallax content
 */
.parallax-disabled {
	display: none;
	height: 100%;
}
.parallax-disabled .scene1 {
	/*!
	 * the height visible block
	 * of the logo and subhead and button
	 * (no vk like) is 257px
	 * the height of stripe-top is 9px
	 * the height of fixed footer is 50px
	 * so 257px / 2 + 50px - 9px = ~-170px
	 * but it is -159 because of some paddings
	 * or margins
	 */
	position: relative;
	top: 50%;
	margin-top: -159px;
}
.parallax-disabled .getstarted {
	display: block;
	max-width: 720px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	margin: 40px auto 0 auto;
	padding: 0;
}
.parallax-disabled .btn-2c {
	display: inline-block;
	position: relative;
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: 0.063em;
	text-transform: uppercase;
	color: inherit;
	background: #7BA389;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 6px #5D8561;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	padding: 21px 28px;
	margin: 0;
	outline: none;
	cursor: pointer;
}
.parallax-disabled .btn-2c:hover {
	box-shadow: 0 4px #5D8561;
	top: 2px;
}
.parallax-disabled .btn-2c:active {
	box-shadow: 0 0 #5D8561;
	top: 6px;
}
.parallax-disabled .btn-2c:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.parallax-disabled .btn-2c:before {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}
.parallax-disabled .sitelogo-holder {
	width: 100%;
	margin: 0 auto;
}
.parallax-disabled .sitelogo {
	display: inline-block;
	width: 54.000pt;
	height: 54.000pt;
}
.parallax .sitelogo,
.parallax-disabled .sitelogo {
	background-color: transparent;
	background-image: url(/libs/notfound/img/sitelogo-D54848-72x72.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 54.000pt 54.000pt;
}
.parallax-disabled .sitetitle-holder {
	width: 100%;
	margin: 24px auto 0 auto;
}
.parallax-disabled .sitetitle {
	display: inline-block;
	width: 202.500pt;
	height: 30.000pt;
}
.parallax .sitetitle,
.parallax-disabled .sitetitle {
	background-color: transparent;
	background-image: url(/libs/notfound/img/siteltitle-FFFFFF-270x40.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 202.500pt 30.000pt;
}
/*!
 * CSS progress
 * codepen.io/janrubio/pen/DusIE
 */
.progress {
	width: 4.571rem;
	height: 4.571rem;
	position: absolute;
	left: 50%;
	top: 50%;
	background: transparent;
	border-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-left: -2.286rem;
	margin-top: -2.286rem;
	z-index: 6;
}
.progress .progress-ball {
	position: absolute;
	width: 4.357rem;
	height: 4.357rem;
	opacity: 0;
	-moz-transform: rotate(225deg);
	-moz-animation: orbit 7.15s infinite;
	-webkit-transform: rotate(225deg);
	-webkit-animation: orbit 7.15s infinite;
	-ms-transform: rotate(225deg);
	-ms-animation: orbit 7.15s infinite;
	-o-transform: rotate(225deg);
	-o-animation: orbit 7.15s infinite;
	transform: rotate(225deg);
	animation: orbit 7.15s infinite;
}
.progress .progress-ball .progress-inner-ball {
	position: absolute;
	width: 0.571rem;
	height: 0.571rem;
	background: #FFFFFF;
	left: 0;
	top: 0;
	-moz-border-radius: 0.571rem;
	-webkit-border-radius: 0.571rem;
	-ms-border-radius: 0.571rem;
	-o-border-radius: 0.571rem;
	border-radius: 0.571rem;
}
.progress #progress-ball-1 {
	-moz-animation-delay: 1.56s;
	-webkit-animation-delay: 1.56s;
	-ms-animation-delay: 1.56s;
	-o-animation-delay: 1.56s;
	animation-delay: 1.56s;
}
.progress #progress-ball-2 {
	-moz-animation-delay: 0.31s;
	-webkit-animation-delay: 0.31s;
	-ms-animation-delay: 0.31s;
	-o-animation-delay: 0.31s;
	animation-delay: 0.31s;
}
.progress #progress-ball-3 {
	-moz-animation-delay: 0.62s;
	-webkit-animation-delay: 0.62s;
	-ms-animation-delay: 0.62s;
	-o-animation-delay: 0.62s;
	animation-delay: 0.62s;
}
.progress #progress-ball-4 {
	-moz-animation-delay: 0.94s;
	-webkit-animation-delay: 0.94s;
	-ms-animation-delay: 0.94s;
	-o-animation-delay: 0.94s;
	animation-delay: 0.94s;
}
.progress #progress-ball-5 {
	-moz-animation-delay: 1.25s;
	-webkit-animation-delay: 1.25s;
	-ms-animation-delay: 1.25s;
	-o-animation-delay: 1.25s;
	animation-delay: 1.25s;
}
@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index: 99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}
	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin: 0%;
	}
	30% {
		opacity: 1;
		-moz-transform: rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin: 7%;
	}
	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin: 30%;
	}
	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin: 39%;
	}
	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin: 70%;
	}
	76% {
		opacity: 0;
		-moz-transform: rotate(900deg);
	}
	100% {
		opacity: 0;
		-moz-transform: rotate(900deg);
	}
}
@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index: 99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}
	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin: 0%;
	}
	30% {
		opacity: 1;
		-webkit-transform: rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin: 7%;
	}
	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin: 30%;
	}
	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin: 39%;
	}
	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin: 70%;
	}
	76% {
		opacity: 0;
		-webkit-transform: rotate(900deg);
	}
	100% {
		opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}
@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index: 99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}
	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin: 0%;
	}
	30% {
		opacity: 1;
		-ms-transform: rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin: 7%;
	}
	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin: 30%;
	}
	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin: 39%;
	}
	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin: 70%;
	}
	76% {
		opacity: 0;
		-ms-transform: rotate(900deg);
	}
	100% {
		opacity: 0;
		-ms-transform: rotate(900deg);
	}
}
@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index: 99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}
	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin: 0%;
	}
	30% {
		opacity: 1;
		-o-transform: rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin: 7%;
	}
	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin: 30%;
	}
	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin: 39%;
	}
	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin: 70%;
	}
	76% {
		opacity: 0;
		-o-transform: rotate(900deg);
	}
	100% {
		opacity: 0;
		-o-transform: rotate(900deg);
	}
}
@keyframes orbit {
	0% {
		opacity: 1;
		z-index: 99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}
	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin: 0%;
	}
	30% {
		opacity: 1;
		transform: rotate(410deg);
		animation-timing-function: ease-in-out;
		origin: 7%;
	}
	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin: 30%;
	}
	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin: 39%;
	}
	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin: 70%;
	}
	76% {
		opacity: 0;
		transform: rotate(900deg);
	}
	100% {
		opacity: 0;
		transform: rotate(900deg);
	}
}
/*!
 * retina
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
/*!
 * font for mobile
 * iosfonts.com/
 * google.com/design/spec/style/typography.html#typography-language-categorization
 * msdn.microsoft.com/en-us/library/windows/apps/hh202920%28v=vs.105%29.aspx
 */
@media only screen and (max-width: 480px) {
	body,
	.footer {
		font-family: "Segoe UI","Segoe WP","Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
	}
	.parallax .subhead {
		font-family: "Segoe UI SemiLight","Segoe WP SemiLight","Roboto Light","Roboto Lt","HelveticaNeue-Light","Helvetica Neue",sans-serif;
		font-weight: 300;
	}
}
/*!
 * media queries
 */
@media (min-height:1px) and (max-height:380px) {
	.parallax .scene1 {
		margin-top: -126px;
	}
	.parallax .getstarted,
	.parallax .sitetitle-holder {
		margin: 4px auto 0 auto;
	}
	.parallax .subhead,
	.parallax .smartphone,
	.parallax .smartphone2,
	.footer {
		display: none;
	}
}
@media (min-height:381px) and (max-height:467px) {
	.parallax .scene1 {
		margin-top: -146px;
	}
	.parallax .getstarted,
	.parallax .sitetitle-holder {
		margin: 24px auto 0 auto;
	}
	.parallax .subhead,
	.parallax .smartphone,
	.parallax .smartphone2,
	.footer {
		display: none;
	}
}
@media (min-height:468px) and (max-height:567px) {
	.parallax .scene1 {
		margin-top: -162px;
	}
	.parallax .getstarted,
	.parallax .sitetitle-holder {
		margin: 40px auto 0 auto;
	}
	.parallax .subhead,
	.parallax .smartphone,
	.parallax .smartphone2,
	.footer {
		display: none;
	}
}
@media screen and (max-height: 380px) {
	.parallax-disabled .scene1 {
		margin-top: -105px;
	}
	.parallax-disabled .getstarted,
	.parallax-disabled .sitetitle-holder {
		margin: 4px auto 0 auto;
	}
	.footer {
		display: none;
	}
}
