@font-face{font-family:"icomoon";src:url(englishextra-ui-icons.eot?u5yvc2);src:url(englishextra-ui-icons.eot?u5yvc2#iefix) format("embedded-opentype"),url(englishextra-ui-icons.ttf?u5yvc2) format("truetype"),url(englishextra-ui-icons.woff?u5yvc2) format("woff"),url(englishextra-ui-icons.svg?u5yvc2#icomoon) format("svg");font-weight:normal;font-style:normal;}
[class^="icon-"],[class*=" icon-"]{font-family:"icomoon";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-englishextra-ui-icons-alert:before{content:"\e900";}
.icon-englishextra-ui-icons-angle-down:before{content:"\e901";}
.icon-englishextra-ui-icons-angle-down-circle:before{content:"\e902";}
.icon-englishextra-ui-icons-angle-left:before{content:"\e903";}
.icon-englishextra-ui-icons-angle-left-circle:before{content:"\e904";}
.icon-englishextra-ui-icons-angle-right:before{content:"\e905";}
.icon-englishextra-ui-icons-angle-right-circle:before{content:"\e906";}
.icon-englishextra-ui-icons-angle-up:before{content:"\e907";}
.icon-englishextra-ui-icons-angle-up-circle:before{content:"\e908";}
.icon-englishextra-ui-icons-camera:before{content:"\e909";}
.icon-englishextra-ui-icons-close:before{content:"\e90a";}
.icon-englishextra-ui-icons-comment:before{content:"\e90b";}
.icon-englishextra-ui-icons-document:before{content:"\e90c";}
.icon-englishextra-ui-icons-down-arrow:before{content:"\e90d";}
.icon-englishextra-ui-icons-headphones:before{content:"\e90e";}
.icon-englishextra-ui-icons-home:before{content:"\e90f";}
.icon-englishextra-ui-icons-left-arrow:before{content:"\e910";}
.icon-englishextra-ui-icons-left-arrow-circle:before{content:"\e911";}
.icon-englishextra-ui-icons-list:before{content:"\e912";}
.icon-englishextra-ui-icons-mail:before{content:"\e913";}
.icon-englishextra-ui-icons-menu:before{content:"\e914";}
.icon-englishextra-ui-icons-more:before{content:"\e915";}
.icon-englishextra-ui-icons-movie:before{content:"\e916";}
.icon-englishextra-ui-icons-phone:before{content:"\e917";}
.icon-englishextra-ui-icons-pin:before{content:"\e918";}
.icon-englishextra-ui-icons-quote:before{content:"\e919";}
.icon-englishextra-ui-icons-right-arrow:before{content:"\e91a";}
.icon-englishextra-ui-icons-search-left:before{content:"\e91b";}
.icon-englishextra-ui-icons-search-right:before{content:"\e91c";}
.icon-englishextra-ui-icons-share:before{content:"\e91d";}
.icon-englishextra-ui-icons-smile:before{content:"\e91e";}
.icon-englishextra-ui-icons-star:before{content:"\e91f";}
.icon-englishextra-ui-icons-tick:before{content:"\e920";}
.icon-englishextra-ui-icons-tick-circle:before{content:"\e921";}
.icon-englishextra-ui-icons-unquote:before{content:"\e922";}
.icon-englishextra-ui-icons-up-arrow:before{content:"\e923";}
.icon-favicon-mask-icon:before{content:"\e924";}
.icon-englishextra-ui-icons-like:before{ content:"\e925";}
